.body {
    display: table;
}

.row {
  text-align: center;
}

.left-side {
  // border-right: 1px solid #000;
}

.right-side {
  // border-left: 1px solid #000;

  // background-color: red;
}

.left-side, .right-side {
    padding: 5% 0;
    display: table-cell;
}

.background {
  /*background: linear-gradient(#006699, #002133);*/
  background-image: url("http://3.bp.blogspot.com/_uTGKd6u5pJ4/TQI1skqtXGI/AAAAAAAAAIY/wqYqWSgRnoM/s1600/Graffiti-music-wallpaper-by-LOL55555.jpg");
    background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site-name {
  margin: 5px 0;
  text-align: center;
  color: #fff;
  // border-bottom: 2px solid #000;
}

.row {
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

#drop {
    border: 1px dashed #ccc;
    padding: 15%;
    // width: 450px;
    // min-height: 35px;
    // margin: 10px auto;
    // -webkit-border-radius: 4px;
    // -moz-border-radius: 4px;
    // border-radius: 4px;
    // display:box;
    cursor:pointer;
}

#color {
  // text-align: center;
  position: relative;
}

#color-box {
  position: relative;
  top: 50%;
  left: 25%;
  border: 2px solid #ccc;
  width: 200px;
  height: 150px;
  margin: 3.5px;
}

#fileBox {
    display:none;
}

.fileCont{
    // display:block;
    // width:425px;
    height:40px;
    margin:2.5px;
    // float:left;
}

.thumb {
    width:200px;
    height:150px;
    float:right;
    margin: 3.5px;
    border: 2px solid #ccc;
}

.dom-color {
  float: left;
}

.song-frame {
  height: 75px;
  border: none;
  border-radius: 5px;

}

.right-side img {
  border: 1px solid white;
}