@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: "Open Sans";
}

small {
    display: block;
    font-size: 12px;
    padding-top: 10px;
}

#drop {
    border: dashed 1px black;
    padding: 40px 0;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    /*color: rgba(#000, 0.5);*/
    background-color: #fff;
    width: 50%;
}

/*.drop-zone {
  position: fixed;
  right: 25%;
  opacity: 0.8;
  width: 50%;
  height: 40%;
  background-color: white;
}*/



img {
    width: 55%;
}

#image {
    margin-bottom: 20px;
    /*border: solid 2px #000;*/
}

#details {
    padding: 10px;
    text-align: center;
    height: 40vh;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.swatch {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: solid 1px #000;
    border-radius: 50px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}


/*//=========================*/
#color-picker {
  background-color: red;
}

.non-logged-index {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: white;
  text-align: center;
  font-size: 2em;
}

.non-logged-index a {
  text-shadow: 3px 3px black;
  text-decoration: none;
  color: white;
}

.side-bar {
  /*position: fixed;*/
  float: left;
  z-index: -100;
  background-color: #000;
  width: 50%;
  height: 100%;
  /*opacity: 0.9;*/
  border-right: 5px solid white;
  /*text-align: center;*/
}

.login {
  background-color: black;
  height: 100px;
  border-bottom: 4px solid white;
  padding-right: 50px;
}

.nav-form-container {
  float:right;
  height: 100px;
}

.new {
  position: fixed;
  left: 44%;
  top: 40%;
  text-align: center;
}


.errors{
  color: red;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 1px #000000;
  display: inline-block;
}


.login-form, .register-form {
  margin-top: 15px;
}

.login-button, .register-button {
  text-decoration: underline;
  font-size: 2em;
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.login-button:hover, .register-button:hover{
  opacity: 0.6;
}

.nav-loggedin a, .nav-notlogged a {
  font-weight: bold;
  color: white;
  padding: 5px;
  background-color: black;
  float: right;
  margin-top: 35px;
  padding-right:10px;
  padding-left:5px;
  position: relative;
  font-size: 20px;
}

.site-name a {
  font-weight: bold;
  color: white;
  padding: 5px;
  background-color: black;
  float: left;
  margin-top: 10px;
  padding-left:50px;
  position: relative;
  font-size: 50px;
  text-decoration: none;
}

.site-name img {
  height: 64px;
}

.site-name {
  opacity: 0;
}

.background {
  /*background: linear-gradient(#006699, #002133);*/
  background-image: url("http://3.bp.blogspot.com/_uTGKd6u5pJ4/TQI1skqtXGI/AAAAAAAAAIY/wqYqWSgRnoM/s1600/Graffiti-music-wallpaper-by-LOL55555.jpg");
    background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login {
/*  background-image: url("/img/grf_4_08.png");
    background-size: 100% auto;
    background-size: auto;*/
    opacity: 0;

}

.spotify {
  background-color: black;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-right: 540px;
  /*width:1600;*/
  display: inline;
  float: right;

}

.container {
  background-color: white;
  text-align: center;
  height: 600px;
}

.rgb-button {
  /*float: left;*/
  position: fixed;
  top: 40%;
}

.index-center {
  border: 1px solid white;
  background-color: red;
  height: 100%;
  color: white;
  float: right;
}

.album-cover {
  width: 200px;
  height: 200px;
  /*border: 2px solid white;*/
  /*background-image: url("https://imgjam1.jamendo.com/albums/s104/104336/covers/1.200.jpg");*/
}

.user-page {
  background-color: white;
  height: 750px;
  font-weight: bold;
  font-size: 30px;
}

.center {
  opacity: 0.6;
  margin: auto;
  width:  60%;
  padding: 10px;
}

a:hover {
  opacity: 0.5;
}

.user-delete {
  background-color: grey;
}

li {
  list-style-type: none;
}

/*br {
  margin: 25px;
  background-color: red;
}*/

/*//=============================*/

.ember-view {
  /*background-color: grey;*/
  margin-top: 15px;
  margin-left: 3px;
  float: left;
  width: 100px;
}

/* Put your CSS here */

input: {
  padding: 8px;
  border-radius: 4px;
}

.color-swatch {
  height: 70px;
  width: 135px;
  border-radius: 4px;
  border: 1px solid #fff;
}

.rgb-input
{
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
}


.rgb {
  width: 40px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  margin-top: 10px;
  color: white;
  padding-right: 80px;
}

.rgb-button {
  text-align: center;
  width: 40px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 8px;
  border-radius: 4px;
  background-color: grey;
  margin-top: 10px;
  color: white;
  padding-right: 120px;
}

.rgb-button:active {
  opacity: 0.6;
}
