<form class="login-form" method="post" action="/session">
<input name="username" type="text" placeholder="username"><br>
<input name="password" type="password" placeholder="password"><br>
<input type="submit" value="Submit">
</form>
