
<form class="register-form" method="post" action="/users">
  <input name="user[username]" type="text" placeholder="enter a username">
  <input name="user[email]" type="text" placeholder="email">
  <input name="user[password]" type="password" placeholder="enter a password">
  <input type="submit" value="Submit"></button>
</form>

