<h1 style="color:white;">edit</h1>
<form>
<input name="username" type="text" placeholder="<%= @user.username %>"><br>
<input name="email" type="text" placeholder="<%= @user.email %>"><br>
<input name="password" type="password" placeholder="password">
</form>
