
<form >
  <input type='submit' value="30 sec. Sample" class='rgb-button'>
</form>

<div class="side-bar">
</div>

<div class="index-center">

<p></p>

  <div class="spotify">

  </div>

</div>


<!-- <div class="drop-zone">
  <div id="details" class="colorVibrant">
      <div id="image"></div>
      <span class="swatch colorVibrant"></span>
      <span class="swatch colorMuted"></span>
      <span class="swatch colorDarkVibrant"></span>
      <span class="swatch colorDarkMuted"></span>
      <span class="swatch colorLightVibrant"></span>
      <div id="drop">Drop an image here <small>(Looks like reading an uploaded image works in Chrome only)</small></div>
  </div>
</div> -->
