<div class="side-bar">
</div>
<div class="index-center">

  <script type="text/x-handlebars">
    {{color-picker}}
  </script>

  <script type="text/x-handlebars" data-template-name="components/color-picker">

    <div id='color-swatch' {{bind-attr style=style}} class='color-swatch'></div>

    <div class='rgb-input'>
      RGB:

      {{input type='text' value=rgbR class='rgb' placeholder='R'}}

      {{input type='text' value=rgbG class='rgb' placeholder='G'}}

      {{input type='text' value=rgbB class='rgb' placeholder='B'}}


    </div>
    <input type='submit' value="Drop the Beat" class='rgb-button'>
  </script>

</div>
