<div class="new">


  <div class="errors">
    <% if @errors %>
      <ul>
        <% @errors.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <ul>
    <% end %>
  </div>

  <form class="login-form" method="post" action="/session">
    <input name="username" type="text" placeholder="username"><br>
    <input name="password" type="password" placeholder="password"><br><br>
    <input class="login-button" type="submit" value="Login">
  </form>
<!--     <h1>Login</h1> -->
</div>
