<div class="user-page center">

<div class="user-edit-button">
<% if owner? %>
  <form class="user-edit" action="/users/<%= @user.id %>" method="POST">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="Edit yourself">
  </form>
<% end %>
</div>

<div class="user-delete-button">
<% if owner? %>
  <form action="/users/<%= @user.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input class="user-delete" type="submit" value="Delete yourself">
  </form>
<% end %>
</div>

</div>
