<div class="row">
  <div class="left-side col-sm-6 left-bg row-eq-height">


    <div id="drop">
      DRAG AND DROP AN IMAGE HERE
    </div>

    <input id="fileBox" type="file" />
    <!-- <div id="status"></div> -->
    <div class="row">
      <div id="color" class="dom-color col-sm-6"></div>
      <div id="list" class="col-sm-6"></div>
    </div>
  </div>

  <div class="right-side col-sm-6 row-eq-height">
    <div class="song-data">
      
      GET SONG DATA HERE
    </div>
    <div id="song-result">
    </div>
  </div>
</div>