<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">


  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.0.1/color-thief.min.js"></script>




  <title>Chromesthetic</title>
 <!-- <div class="site-name"><a href="/"><img src="/img/rgbelogo.png" alt="R/G/Beats"></a></div> -->
</head>
<body class="background container">
<div class="site-name"><img src="/img/chromesthetic.png"></div>
  <%= yield %>
</body>
</html>
